.footer {
    width: 100%;
    text-align: center; /* Centers the text */
    padding: 15px 0;
    background-color: #1a1a1a;
    color: white;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    left: 0;
  }